<?xml version="1.0" encoding="UTF-8"?>
<MF0 version="1.1" packageUris="http://schema.mathworks.com/mf0/meta/19700101 http://schema.mathworks.com/mf0/systemcomposer_property/2.13 http://schema.mathworks.com/mf0/systemcomposer_services_proxy/1.2">
  <systemcomposer.profile.Profile type="systemcomposer.profile.Profile" uuid="fa987f2d-f7f3-4210-8ed9-5c7f548526f4">
    <description>The Overall System Type</description>
    <prototypes type="systemcomposer.profile.Prototype" uuid="71f2ba52-df20-4a1a-9b1d-006750238409">
      <appliesTo>Component</appliesTo>
      <componentHeaderColor type="systemcomposer.profile.RGBValueStruct">
        <BLUE>201</BLUE>
        <GREEN>145</GREEN>
        <RED>192</RED>
      </componentHeaderColor>
      <description>Collection of all components that are closely related</description>
      <icon>SUBSYSTEM</icon>
      <p_Name>System</p_Name>
      <defaultStereotypeMap type="systemcomposer.profile.DefaultStereotypeMap" uuid="a5fb2df6-9a3f-43fc-bd31-e9173377d81b"/>
      <metaAttributes type="mf.zero.meta.AttributeMap" uuid="8222579e-86e2-4b9e-9fad-67f7bab336ac"/>
      <propertySet type="systemcomposer.property.PropertySet" uuid="92bdcc16-ba3f-485c-b003-b14fe4b4070e">
        <p_Name>System</p_Name>
        <elemProxy type="systemcomposer.services.proxy.ProxyTarget" uuid="88dd2306-b9fb-4854-ad24-8ef84fe76502"/>
      </propertySet>
      <elemProxy type="systemcomposer.services.proxy.ProxyTarget" uuid="6bb1dc2e-1b48-411e-b099-e5d2424c5afc"/>
    </prototypes>
    <valueTypes type="systemcomposer.property.BooleanType" uuid="ad75d779-87b6-4edb-97b8-a1e237ecccdc">
      <p_Name>boolean</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.FloatType" uuid="3871c480-a9bd-47b2-b52c-023da9f12bae">
      <max>1.7976931348623157e+308</max>
      <min>-1.7976931348623157e+308</min>
      <p_Name>double</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="d4904bc6-db93-4460-8495-12b96e1b4c21">
      <max>32767</max>
      <min>-32768</min>
      <p_Name>int16</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="402b9965-187d-47b3-86e0-c62a25d05fef">
      <max>2147483647</max>
      <min>-2147483648</min>
      <p_Name>int32</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="f88af0c7-95c0-43f0-8eea-b8fe7db20b68">
      <max>9223372036854775807</max>
      <min>-9223372036854775808</min>
      <p_Name>int64</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="b9cf67a3-a5b1-48a5-99dc-9cf4ec133a67">
      <max>127</max>
      <min>-128</min>
      <p_Name>int8</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.FloatType" uuid="b8b6ac11-ba2b-401e-b244-6fe310f484d2">
      <max>3.4028234663852886e+38</max>
      <min>-3.4028234663852886e+38</min>
      <p_Name>single</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.StringType" uuid="6c20b8ea-a3ff-4c5a-9180-8617e484a7e0">
      <p_Name>string</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.StringArrayType" uuid="3365986d-297d-4244-a8a8-5fd16b5497c8">
      <p_Name>stringArray</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="da79a652-deef-4ca3-9257-7ccfa1682494">
      <max>65535</max>
      <min>0</min>
      <p_Name>uint16</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="d8f76da1-afe3-4b42-a6ac-dd749d63a03b">
      <max>4294967295</max>
      <min>0</min>
      <p_Name>uint32</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="1fa310ec-c714-4e7b-99f0-d03c7fca858a">
      <max>9223372036854775807</max>
      <min>0</min>
      <p_Name>uint64</p_Name>
    </valueTypes>
    <valueTypes type="systemcomposer.property.IntegerType" uuid="d86684d2-140b-434d-9231-724c8436672b">
      <max>255</max>
      <min>0</min>
      <p_Name>uint8</p_Name>
    </valueTypes>
    <p_Name>System</p_Name>
    <elemProxy type="systemcomposer.services.proxy.ProxyTarget" uuid="77964012-83e1-4760-9221-c0ed3afe1e5b"/>
  </systemcomposer.profile.Profile>
  <systemcomposer.services.proxy.ModelIdentifier type="systemcomposer.services.proxy.ModelIdentifier" uuid="334227b7-e479-4f03-850a-471698bb5acc">
    <URI>System</URI>
    <modelType>PROFILE_MODEL</modelType>
  </systemcomposer.services.proxy.ModelIdentifier>
  <systemcomposer.property.UnitQueryClientWrapper type="systemcomposer.property.UnitQueryClientWrapper" uuid="9d3f6b93-3e2c-4296-b6ed-963771134e8a"/>
  <systemcomposer.profile.DefaultStereotypePair type="systemcomposer.profile.DefaultStereotypePair" uuid="f8c5ffb4-4a0a-4e5c-806f-68707d3cbb45">
    <defaultStereotype type="systemcomposer.profile.Prototype" uuid="71f2ba52-df20-4a1a-9b1d-006750238409"/>
    <key>component</key>
  </systemcomposer.profile.DefaultStereotypePair>
</MF0>